* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
}

canvas#game {
    border: 1px solid rgb(0, 0, 0, 0.5);
    background: #888;
    width: 100%;
    height: 100%;
}

#game-container {
    width: 750px;
    height: 350px;
    margin: 10vh auto;
    justify-content: center;
    align-items: center;
}
#yourscore {
    text-align: center;
    color: #f1f1ff
}

#foot {
    text-align: center;
    color: #f1f1ff;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}